# R
.RData
.Rhistory

config/config.xml

# Python/PyCharm
*.pyc
.idea/

# OCR
outputs/*
!outputs/README.md
screenshots/*
!screenshots/README.md

# Logs
memory/*
!memory/README.md
master/logs/*.txt
master/genealogy/*.pkl

.Rproj.user
