# R
.RData
.Rhistory

config/config.xml

# Python/PyCharm
*.pyc
.idea/

# OCR
runner/outputs/*
!runner/outputs/README.md
runner/screenshots/*
!runner/screenshots/README.md

# Logs
memory/*
!memory/README.md
master/logs/*.txt
master/genealogy/*.pkl

.Rproj.user
